<footer class="border-top text-muted footer">
    <div class="container">
        &copy; 2019 - TDS Tecnologia -
        <environment include="Development"><strong>Desenvolvimento</strong></environment>
        <environment include="Staging"><strong>Homologação</strong></environment>
        <environment include="Production"><strong>Produção</strong></environment>
    </div>
</footer>