<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/site/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" />
</head>
<body>
    <div>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/imagens/logo-tds.png" width="60" height="30" alt="" /> TDS Tecnologia
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark"  asp-controller="Home" asp-action="Index">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark"  asp-controller="Home" asp-action="Novo">Novo curso</a>
                            </li>

                        </ul>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        @await Html.PartialAsync("_LoginPartial.cshtml")
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">

                @await Html.PartialAsync("_CarroselSliderPartial.cshtml")

                @RenderBody()
            </main>
        </div>
    </div>

    @await Html.PartialAsync("_FooterPartial.cshtml")

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
