@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <text>Olá, @UserManager.GetUserName(User) - </text>
            <a class="btn btn-link navbar-link" asp-controller="Usuario" asp-action="Logout">Logout</a>
        </li>
    </ul>
}
