<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div style="height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">

        <center>

            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                            <img align="center" alt="" src="https://ci6.googleusercontent.com/proxy/0OtUmF0Ik670FkojJMnUQ4sgHHMws9Cvpp1wnHWme9WFPHTrKQHoHjMxOF0Yp53aNF08BeuIk2LGJf2WSOqXJczd4OQ2uojq8aUmjD20RbRQU7Qg660URAmllcPFGm9Kwc3WI85NO7iQ7CljBqlRpu3NVMuH4BQls4E=s0-d-e1-ft#https://gallery.mailchimp.com/3386df015e62ffe90411e4852/images/33c96f1a-ad7c-4315-8dd1-55b113866ab4.jpg" width="564" style="max-width:746px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none">
                        </td>
                    </tr>
                </tbody>
            </table>

            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapsewidth: 300px;" width="100%">
                <tbody>
                    <tr>
                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                            <h2 style="text-align:center;display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal">
                                <span style="font-size:21px">Olá {{usuario-nome}}, para confirmar seu cadastro na TDS Tecnologia clique no botão abaixo</span>
                            </h2>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="{{link-de-confirmacao}}">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse!important;width: 300px;" width="100%" style="">
                    <tbody>
                        <tr>
                            <td align="left" bgcolor="#0066ff" style="font-size:16px;line-height:100%;font-family:Helvetica,Arial,sans-serif;color:#666666;padding:9px 18px;word-break:break-word!important">
                                <p style="text-align:center;line-height:100%;margin:10px 0;padding:0;color:#656565;font-family:Helvetica;font-size:12px">
                                    <span style="color:#ffffff">
                                        <strong>
                                            <span style="font-family:arial,sans-serif;font-size:19px">CONFIRMAR CADASTRO</span><br>
                                        </strong>
                                    </span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </center>
    </div>
</body>
</html>